/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Bạn có thể thêm các style global cho body tại đây */
@layer base {
  body {
    @apply bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100;
    @apply antialiased; /* Làm font chữ mượt hơn */
  }
}